@model KeyHub.Market.Models.ViewModels.GamePurchaseViewModel

@{
    
    Layout = "_HomeLayout";
}

<div class="buy-game-page">
    <div class="game-header">
        <h1>@Model.Game.Title</h1>
        <p class="genre-platform">
            <span>@Model.Game.Genre</span> | <span>@Model.Game.Platform</span>
        </p>
    </div>

    <div class="game-main">
        <div class="game-image">
            <img src="@Model.Game.ImageUrl" alt="@Model.Game.Title" />
        </div>

        <div class="game-info">
            <p class="price">
                <span class="final-price">@($"{Model.FinalPrice} zł")</span>
                @if (Model.Game.Discount != 0)
                {
                    <span class="old-price">@($"{Model.Game.Price} zł")</span>
                    <span class="discount">-@Model.Game.Discount%</span>
                }
            </p>

            <p><strong>Stock:</strong> @Model.Game.Stock</p>

            <form asp-controller="Purchase" asp-action="BuyGame" method="post">
                <input type="hidden" name="id" value="@Model.Game.Id" />
                <button type="submit" class="btn-buy" @(Model.CanBuy ? "" : "disabled")>
                    Buy Now
                </button>
                @if (!string.IsNullOrEmpty(Model.BuyErrorMessage))
                {
                    <p class="text-danger mt-2">@Model.BuyErrorMessage</p>
                }
                
                
            </form>

            @if (TempData["Error"] != null)
            {
                <p class="text-danger">@TempData["Error"]</p>
            }

            @if (TempData["Success"] != null)
            {
                <p class="text-success">@TempData["Success"]</p>
            }
        </div>
    </div>
</div>
