@model KeyHub.Market.Models.Dto.GameDto

@{
    var finalPrice = Math.Round(Model.Price * (1 - (Model.Discount) / 100m), 2);
    var oldPrice = Math.Round(Model.Price, 2);
    var isLowStock = Model.Stock <= 0; 
}

<a href="/game/@Model.Id" class="game-link">
    <div class="game-item @(isLowStock ? "low-stock" : "")">
        <img  src="/images/games/@Model.ImageUrl" alt="Image error" />
        <h3>@Model.Title</h3>

        <p class="info"><strong>Platform:</strong> @Model.Platform</p>
        <p class="info"><strong>Genre:</strong> @Model.Genre</p>
        <p class="info"><strong>Region:</strong> GLOBAL</p>
        <p class="price">
            <span class="final-price">@($"{finalPrice} zł")</span>
            @if (Model.Discount != 0)
            {
                <span class="old-price">@($"{oldPrice} zł")</span>
                <span class="discount">-@Model.Discount%</span>
            }
        </p>

        @if (isLowStock)
        {
            <div class="stock-warning">Game currently not available</div>
        }
    </div>
</a>

