@model IEnumerable<KeyHub.Market.Models.Game>

@{
    Layout = "_HomeLayout";
}

<div class="search-page-container">

   
    //FILTRY
    @await Component.InvokeAsync("Filters")

    <!-- Wyniki po prawej -->
    <main class="results-section">
        <div class="results-header">
            <h2>Search Results</h2>
            <form method="get">
                @* todo ogarnij this.form submit ponizej *@
                <select name="sortBy" onchange="this.form.submit()">
                    <option value="ByName" @(ViewBag.CurrentSort == "ByName" ? "selected" : "")>Name A-Z</option>
                    <option value="ByPriceAsc" @(ViewBag.CurrentSort == "ByPriceAsc" ? "selected" : "")>Price Low to High</option>
                    <option value="ByPriceDesc" @(ViewBag.CurrentSort == "ByPriceDesc" ? "selected" : "")>Price High to Low</option>
                    <option value="ByDate" @(ViewBag.CurrentSort == "ByDate" ? "selected" : "")>Newest</option>
                </select>
            </form>
        </div>

        <div class="game-list">
            @foreach (var game in Model) 
            {
                <div class="game-item">
                    <img src="@game.ImageUrl" alt="Bład zdjecia" width="100px height=100px">
                    <h3>@game.Title</h3>
                    <p><strong>Platform:</strong> @game.Platform</p>
                    <p><strong>Genre:</strong> @game.Genre</p>
                    <p><strong>Region:</strong> GLOBAL</p>
                    <p><strong>Can be activated in:</strong> Poland</p>
                    @if (game.Discount > 0)
                    {
                        <p class="sponsor">SPONSORED</p>
                    }
                    <p class="price">
                        <span class="final-price">@String.Format("{0:C}", game.Price * (1 - (game.Discount ?? 0) / 100m))</span>
                        <span class="old-price">@String.Format("{0:C}", game.Price)</span>
                        <span class="discount">-@game.Discount%</span>
                    </p>
                </div>
            }
        </div>
    </main>
    
</div>


<div class="pagination">
    @if (ViewBag.TotalPages > 1)
    {
        for (int i = 1; i <= ViewBag.TotalPages; i++)
        {
            if (i == ViewBag.CurrentPage)
            {
                <span class="current-page">@i</span>
            }
            else
            {
                <a href="@Url.Action("SearchGame", new { page = i })">@i</a>
            }
        }
    }
</div>

