@model IEnumerable<KeyHub.Market.Models.Game>

@{
    Layout = "_HomeLayout";
}

<div class="search-page-container">

   
    //FILTRY
    @await Component.InvokeAsync("Filters")

    <!-- Wyniki po prawej -->
    <main class="results-section">
        <div class="results-header">
            <h2>Search Results</h2>
            <select class="sort-options">
                <option value="popularity">Sort by Popularity</option>
                <option value="price-asc">Price: Low to High</option>
                <option value="price-desc">Price: High to Low</option>
                <option value="name-asc">Name: A-Z</option>
                <option value="name-desc">Name: Z-A</option>
            </select>
        </div>

        <div class="game-list">
            @foreach (var game in Model) // wyświetl tylko 20 gier
            {
                <div class="game-item">
                    <h3>@game.Title</h3>
                    <p><strong>Platform:</strong> @game.Platform</p>
                    <p><strong>Genre:</strong> @game.Genre</p>
                    <p><strong>Region:</strong> GLOBAL</p>
                    <p><strong>Can be activated in:</strong> Poland</p>
                    @if (game.Discount > 0)
                    {
                        <p class="sponsor">SPONSORED</p>
                    }
                    <p class="price">
                        <span class="final-price">@String.Format("{0:C}", game.Price * (1 - (game.Discount ?? 0)/100m))</span>
                        <span class="old-price">@String.Format("{0:C}", game.Price)</span>
                        <span class="discount">-@game.Discount%</span>
                    </p>
                </div>
            }
        </div>
    </main>
    
</div>


<div class="pagination">
    @if (ViewBag.TotalPages > 1)
    {
        for (int i = 1; i <= ViewBag.TotalPages; i++)
        {
            if (i == ViewBag.CurrentPage)
            {
                <span class="current-page">@i</span>
            }
            else
            {
                <a href="@Url.Action("SearchGame", new { page = i })">@i</a>
            }
        }
    }
</div>

