@using KeyHub.Market.Enums
@using KeyHub.Market.Models
@model IEnumerable<KeyHub.Market.Models.Dto.GameDto>

@{
    Layout = "_HomeLayout";
    var pageContext = ViewContextType.Search;
    
    
}

<div class="search-page-container">

    @await Component.InvokeAsync("Filters", new { selectedPlatforms = ViewBag.SelectedPlatforms, selectedGenres = ViewBag.SelectedGenres })

    <main class="results-section">
        <div class="results-header">
            <h2>Search Results</h2>
 
            <form method="get" action="/search">
                @if (ViewBag.SelectedPlatforms != null)
                {
                    foreach (var platform in (Platform[])ViewBag.SelectedPlatforms)
                    {
                        <input type="hidden" name="platforms" value="@platform" />
                    }
                }

                @if (ViewBag.SelectedGenres != null)
                {
                    foreach (var genre in (Genre[])ViewBag.SelectedGenres)
                    {
                        <input type="hidden" name="genres" value="@genre" />
                    }
                }
                @* todo HTML hidden input in GET forms to preserve state *@
                @* //todo name i value ogarnij  oraz to nizej*@
                @* todo ogarnij view searchedGames *@
                <div class="custom-select-wrapper">
                    <select name="sortBy" onchange="this.form.submit()">
                        <option value="ByName" @(ViewBag.CurrentSort == "ByName" ? "selected" : "")>Name A-Z</option>
                        <option value="ByPriceAsc" @(ViewBag.CurrentSort == "ByPriceAsc" ? "selected" : "")>Price Low to High</option>
                        <option value="ByPriceDesc" @(ViewBag.CurrentSort == "ByPriceDesc" ? "selected" : "")>Price High to Low</option>
                        <option value="ByDate" @(ViewBag.CurrentSort == "ByDate" ? "selected" : "")>Newest</option>
                    </select>
                </div>
            </form>
        </div>

        <div class="game-list">
            @foreach (var game in Model) 
            {
                <text>
                    @await Html.PartialAsync("_GameOverview", game, new ViewDataDictionary(ViewData) { ["Context"] = pageContext })
                </text>
            }
        </div>
    </main>
    
</div>

@* pagination *@
@await Html.PartialAsync("_Pagination")

