@using KeyHub.Market.Enums
@model KeyHub.Market.Models.ViewModels.GameSearchViewModel

@{
    Layout = "_HomeLayout";
    var pageContext = ViewContextType.Search;
}

<div class="search-page-container">
    @await Component.InvokeAsync("Filters", new { selectedPlatforms = Model.SelectedPlatforms, selectedGenres = Model.SelectedGenres })
    <main class="results-section">
        <div class="results-header">
            <h2>Search Results</h2>

            <form method="get" action="/search">

                @if (Model.SelectedPlatforms != null)
                {
                    foreach (var platform in Model.SelectedPlatforms)
                    {
                        <input type="hidden" name="platforms" value="@platform"/>
                    }
                }
                @if (Model.SelectedGenres != null)
                {
                    foreach (var genre in Model.SelectedGenres)
                    {
                        <input type="hidden" name="genres" value="@genre"/>
                    }
                }
                @* todo HTML hidden input in GET forms to preserve state *@
                @* //todo name i value ogarnij  oraz to nizej*@
                @* todo ogarnij view searchedGames *@
                <div class="custom-select-wrapper">
                    <select name="sortBy" onchange="this.form.submit()">
                        @foreach (var sort in Model.SortOptions)
                        {
                            <option value="@sort" selected="@(sort == Model.CurrentSort)">
                                @sort.ToString()
                            </option>
                        }
                    </select>
                </div>
            </form>
        </div>

        <div class="game-list">
            @foreach (var game in Model.Games)
            {
                @await Html.PartialAsync("_GameOverview", game, new ViewDataDictionary(ViewData) { ["Context"] = pageContext })
            }
        </div>
    </main>
</div>

@* @await Html.PartialAsync("_Pagination", new PaginationModel { CurrentPage = Model.CurrentPage, TotalPages = Model.TotalPages }) *@
@* pagination *@
@await Html.PartialAsync("_Pagination")

